<div class="container">
	<div class="row">
		<div class="span8">
			<div class="news-list">
				<%- 5.times do %>
					<div class="news-list-item">
						<h2>Блоговая запись</h2>
						<small class="muted"> 12.01.2014 </small>
						<p>
							This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.
						</p>
					</div>
				<% end %>
			</div>
		</div>
		<div class="span4">
			Sidebar
		</div>

	</div>
</div>